wp-config.php
wp-content/backups
wp-content/backup-db
wp-content/*cache*
wp-content/cache
wp-content/upgrade
wp-content/uploads
sitemap.xml.gz

error_log
.DS_Store
*.db
*.sql
*.tar.gz
*.tgz
*.tar
*.css.map
.idea
nbproject
node_modules
bower_components
.sass-cache
